@*
    列表视图工具栏
*@
@using NewLife;
@using NewLife.Web;
@using XCode;
@using NewLife.Cube.Extensions

@{
    var fact = ViewBag.Factory as IEntityFactory;
    var page = ViewBag.Page as Pager;
    var title = ViewBag.Title;
    var user = ViewBag.User as IUser ?? ManageProvider.User;
    var layoutSet = Parameter.GetOrAdd(user.ID, "LayoutSetting", ViewBag.Title as String, "table");
    var mode = layoutSet.Value;

    var act = Context.Request.Path + "";
    if (act.IsNullOrEmpty())
    {
        act = Url.Action("Index");
    }

    var set = ViewBag.PageSetting as PageSetting;
}

<!--begin::Toolbar 如果列表视图工具栏上方有仪表盘,设置pt-3 -->
<div class="d-flex flex-wrap flex-stack pt-0 pb-1">
    <!--begin::列表统计-->
    <div>
        <div class="d-flex align-items-center">
            <span class="fs-2x fw-bolder text-gray-600 me-2">@(page != null ? page.TotalCount.ToString("n0") : 0)</span>
        </div>
        <span class="fs-7 fw-bold text-gray-400">当前@(title)总数</span>
    </div>

    <!--end::列表统计-->

    <!--begin::Controls-->
    <div class="d-flex">
        <!-- 新增按钮 -->
        @if (page != null)
        {
            var rv = page.GetRouteValue();
            if (set.EnableAdd && !set.IsReadOnly && this.Has(PermissionFlags.Insert))
            {
                <a href="@Url.Action("Add", rv)" class="btn btn-sm btn-icon btn-light-success btn-active-success w-70px" title="新增对象" data-bs-toggle="tooltip" data-bs-placement="top"><i class="fas fa-plus me-3 fs-md-2"></i>新增</a>
                <!-- 分隔条 -->
                <div class="bullet bg-secondary h-35px w-1px mx-3"></div>
            }
        }

        <!-- 批量操作 -->
        <div class="toolbar-batch">
            @await Html.PartialAsync("_List_Toolbar_Batch")
        </div>

        <!-- 自定义工具按钮 -->
        @await Html.PartialAsync("_List_Toolbar_Custom")

        <!--begin::列表模式-->
        <ul class="nav nav-pills me-2">
            <li class="nav-item m-0">
                <a id="btn_mode_card" class="btn btn-sm btn-icon btn-light btn-color-muted btn-active-primary me-3 @(mode.EqualIgnoreCase("card") ? "active" : "")" data-bs-toggle="tab" href="#kt_card_pane">
                    <i class="fas fa-th-large fs-md-2"></i>
                </a>
            </li>
            <li class="nav-item me-2">
                <a id="btn_mode_table" class="btn btn-sm btn-icon btn-light btn-color-muted btn-active-primary @(mode.EqualIgnoreCase("table") ? "active" : "")" data-bs-toggle="tab" href="#kt_table_pane">
                    <i class="fas fa-list fs-md-2"></i>
                </a>
            </li>
            <li class="nav-item m-0">
                <a class="btn btn-sm btn-icon btn-light btn-color-muted btn-active-primary" href="@Url.Action("Share")">
                    <i class="fas fa-share-alt fs-md-2"></i>
                </a>
            </li>
        </ul>
        <!--end::列表模式-->

        <!--begin::Wrapper-->
        @await Html.PartialAsync("_List_Toolbar_Adv")
        <!--end::Wrapper-->
    </div>
    <!--end::Controls-->
</div>
<!--end::Toolbar-->

<script>
    $("#btn_mode_card").click(function(){
        @layoutSet.SetItem("Value", "card");
        @layoutSet.Save();
        console.log(@ViewBag.Title + " mode now is: card.");
    });

    $("#btn_mode_table").click(function(){
        @layoutSet.SetItem("Value", "table");
        @layoutSet.Save();
        console.log(@ViewBag.Title + " mode now is: card.");
    });
</script>