@using NewLife;
@using NewLife.Common;
@using NewLife.Cube.Areas.Admin.Models;
@using NewLife.Cube.Web;
@model LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "登录";
    var set = Model;
    var config = NewLife.Cube.CubeSetting.Current;
    var loginBg = config.LoginBg;
    var loginLogo = config.LoginLogo;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - @SysConfig.Current.DisplayName</title>
    <meta name="description" content="@SysConfig.Current.Company">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
</head>
<body id="kt_body" class="bg-white">
    <div class="d-flex flex-column flex-root">
        <div class="d-flex flex-column flex-lg-row flex-column-fluid">
            <div class="d-flex flex-column flex-lg-row-auto w-xl-1000px positon-xl-relative" style="background-image: url('@(loginBg.IsNullOrEmpty() ? "../../assets/media/bg-4.jpg" : loginBg)') ">
                <div class="d-flex flex-column position-xl-fixed top-0 bottom-0 w-xl-1000px scroll-y">
                    <div class="d-flex flex-row-fluid flex-column text-center p-10 pt-lg-20">
                        <h1 class="fw-bolder fs-2qx pb-5 pb-md-10 text-white">@SysConfig.Current.DisplayName</h1>
                        <p class="fw-bold fs-3 text-muted">@SysConfig.Current.Company</p>
                    </div>
                    <div class="d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-100px min-h-lg-350px" style="background-image: url(../../assets/media/verification.png) "></div>
                </div>
            </div>

            <div class="d-flex flex-column flex-lg-row-fluid py-10">

                @if (Html.ValidationSummary(true).ToDictionary().Count() > 1)
                {
                    <div class="alert alert-dismissible bg-light-danger border border-danger border-dashed d-flex flex-column flex-sm-row m-10">
                        <span class="svg-icon svg-icon-2hx svg-icon-danger me-4 mb-5 mb-sm-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path opacity="0.25" fill-rule="evenodd" clip-rule="evenodd" d="M5.69477 2.48932C4.00472 2.74648 2.66565 3.98488 2.37546 5.66957C2.17321 6.84372 2 8.33525 2 10C2 11.6647 2.17321 13.1563 2.37546 14.3304C2.62456 15.7766 3.64656 16.8939 5 17.344V20.7476C5 21.5219 5.84211 22.0024 6.50873 21.6085L12.6241 17.9949C14.8384 17.9586 16.8238 17.7361 18.3052 17.5107C19.9953 17.2535 21.3344 16.0151 21.6245 14.3304C21.8268 13.1563 22 11.6647 22 10C22 8.33525 21.8268 6.84372 21.6245 5.66957C21.3344 3.98488 19.9953 2.74648 18.3052 2.48932C16.6859 2.24293 14.4644 2 12 2C9.53559 2 7.31411 2.24293 5.69477 2.48932Z" fill="#191213"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 7C6.44772 7 6 7.44772 6 8C6 8.55228 6.44772 9 7 9H17C17.5523 9 18 8.55228 18 8C18 7.44772 17.5523 7 17 7H7ZM7 11C6.44772 11 6 11.4477 6 12C6 12.5523 6.44772 13 7 13H11C11.5523 13 12 12.5523 12 12C12 11.4477 11.5523 11 11 11H7Z" fill="#121319"></path>
                            </svg>
                        </span>
                        <div class="d-flex flex-column pe-0 pe-sm-10">
                            <h5 class="mb-1 text-danger">信息</h5>
                            <span class="text-danger">@Html.ValidationSummary()</span>
                        </div>
                        <button type="button" class="position-absolute position-sm-relative m-2 m-sm-0 top-0 end-0 btn btn-icon ms-sm-auto" data-bs-dismiss="alert">
                            <i class="bi bi-x fs-1 text-danger"></i>
                        </button>
                    </div>
                }

                <div class="d-flex flex-center flex-column flex-column-fluid">
                    <div class="w-lg-500px p-10 p-lg-15 mx-auto">

                        <!-- Logo -->
                        <div class="text-center mb-10">
                            <h1 class="text-dark mb-3">
                                <a href="#" class="py-9">
                                    <img alt="Logo" src="@(loginLogo.IsNullOrEmpty() ? "~/assets/logo/logo.png" : loginLogo)" class="h-70px" />
                                </a>
                            </h1>
                        </div>

                        <!-- Tab 导航 -->
                        @if (set.EnableSms || set.EnableMail)
                        {
                            <ul class="nav nav-pills nav-justified mb-5" id="loginTabs">
                                @if (set.AllowLogin)
                                {
                                    <li class="nav-item"><button class="nav-link active" data-bs-toggle="pill" data-bs-target="#la_pwd" type="button">密码登录</button></li>
                                }
                                @if (set.EnableSms)
                                {
                                    <li class="nav-item"><button class="nav-link @(!set.AllowLogin ? "active" : "")" data-bs-toggle="pill" data-bs-target="#la_sms" type="button">手机验证码</button></li>
                                }
                                @if (set.EnableMail)
                                {
                                    <li class="nav-item"><button class="nav-link @(!set.AllowLogin && !set.EnableSms ? "active" : "")" data-bs-toggle="pill" data-bs-target="#la_mail" type="button">邮箱验证码</button></li>
                                }
                            </ul>
                        }

                        <div class="tab-content">
                            <!-- 密码登录 -->
                            <div id="la_pwd" class="tab-pane fade @(set.AllowLogin || !(set.EnableSms || set.EnableMail) ? "show active" : "")">
                                <form action="@Url.Action("Login", "User", new { r = set.ReturnUrl })" method="post" id="la_pwd_form" onsubmit="return laHandleLoginSubmit(event)">
                                    <div class="fv-row mb-10">
                                        <label class="form-label fs-6 fw-bolder text-dark">用户名</label>
                                        <input class="form-control form-control-lg" type="text" name="username" autocomplete="off" placeholder="用户名" />
                                    </div>
                                    <div class="fv-row mb-10">
                                        <label class="form-label fw-bolder text-dark fs-6 mb-0">密码</label>
                                        <input class="form-control form-control-lg" type="password" name="password" autocomplete="off" placeholder="密码" id="la_pwd_input" />
                                        <input type="hidden" name="pkey" id="la_pkey_input" value="" />
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-lg btn-bg-info w-100 mb-5">
                                            <span class="text-white">登 录</span>
                                        </button>
                                    </div>
                                    <div class="text-end fs-7">
                                        <a href="#" class="text-primary" onclick="laShowForgot(); return false;">忘记密码？</a>
                                    </div>
                                    @if (set.AllowRegister)
                                    {
                                        <div class="text-center">
                                            <a href="@Url.Action("Register", "User", new { r = set.ReturnUrl })" class="btn btn-lg btn-bg-light btn-active-info w-100 mb-5">注册账号</a>
                                        </div>
                                    }
                                </form>
                            </div>
                            <!-- 手机验证码 -->
                            @if (set.EnableSms)
                            {
                                <div id="la_sms" class="tab-pane fade @(!set.AllowLogin ? "show active" : "")">
                                    <div class="fv-row mb-5">
                                        <label class="form-label fs-6 fw-bolder text-dark">手机号</label>
                                        <input class="form-control form-control-lg" type="text" id="la_sms_user" placeholder="手机号" />
                                    </div>
                                    <div class="fv-row mb-5">
                                        <label class="form-label fs-6 fw-bolder text-dark">验证码</label>
                                        <div class="input-group">
                                            <input class="form-control form-control-lg" type="text" id="la_sms_code" placeholder="验证码" />
                                            <button type="button" class="btn btn-outline-secondary" id="la_sms_btn" onclick="laSendCode('Sms','la_sms_user','la_sms_btn')">获取验证码</button>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-lg btn-bg-info w-100 mb-5" onclick="laLoginByCode('la_sms_user','la_sms_code',1)">
                                            <span class="text-white">登 录</span>
                                        </button>
                                    </div>
                                </div>
                            }
                            <!-- 邮箱验证码 -->
                            @if (set.EnableMail)
                            {
                                <div id="la_mail" class="tab-pane fade @(!set.AllowLogin && !set.EnableSms ? "show active" : "")">
                                    <div class="fv-row mb-5">
                                        <label class="form-label fs-6 fw-bolder text-dark">邮箱地址</label>
                                        <input class="form-control form-control-lg" type="email" id="la_mail_user" placeholder="邮箱地址" />
                                    </div>
                                    <div class="fv-row mb-5">
                                        <label class="form-label fs-6 fw-bolder text-dark">验证码</label>
                                        <div class="input-group">
                                            <input class="form-control form-control-lg" type="text" id="la_mail_code" placeholder="验证码" />
                                            <button type="button" class="btn btn-outline-secondary" id="la_mail_btn" onclick="laSendCode('Mail','la_mail_user','la_mail_btn')">获取验证码</button>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-lg btn-bg-info w-100 mb-5" onclick="laLoginByCode('la_mail_user','la_mail_code',2)">
                                            <span class="text-white">登 录</span>
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>

                        <!-- 忘记密码面板 -->
                        <div id="la_forgot_panel" style="display:none;">
                            <!-- 步骤1 -->
                            <div id="la_forgot_step1">
                                <h3 class="fw-bolder text-dark fs-3 mb-6">重置密码</h3>
                                <div class="fv-row mb-5">
                                    <label class="form-label fs-6 fw-bolder text-dark">手机号或邮箱</label>
                                    <input class="form-control form-control-lg" type="text" id="la_fp_user" placeholder="手机号或邮箱" />
                                </div>
                                <div class="fv-row mb-5">
                                    <label class="form-label fs-6 fw-bolder text-dark">验证渠道</label>
                                    <div class="d-flex gap-3">
                                        <button type="button" class="btn btn-sm btn-light-info" id="la_fp_ch_sms" onclick="laSetFpCh('Sms')" style="border:2px solid #009ef7;">短信</button>
                                        <button type="button" class="btn btn-sm btn-light" id="la_fp_ch_mail" onclick="laSetFpCh('Mail')">邮箱</button>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="button" class="btn btn-lg btn-bg-info w-100 mb-3" id="la_fp_send_btn" onclick="laFpSendCode()"><span class="text-white">发送验证码</span></button>
                                    <a href="#" class="btn btn-lg btn-light w-100" onclick="laHideForgot(); return false;">返回登录</a>
                                </div>
                                <div id="la_fp_error1" class="text-danger mt-2" style="display:none;"></div>
                            </div>
                            <!-- 步骤2 -->
                            <div id="la_forgot_step2" style="display:none;">
                                <h3 class="fw-bolder text-dark fs-3 mb-6">设置新密码</h3>
                                <div class="fv-row mb-5">
                                    <label class="form-label fs-6 fw-bolder text-dark">验证码</label>
                                    <div class="input-group">
                                        <input class="form-control form-control-lg" type="text" id="la_fp_code" placeholder="验证码" />
                                        <button type="button" class="btn btn-outline-secondary" id="la_fp_resend" onclick="laFpResend()">重新发送</button>
                                    </div>
                                </div>
                                <div class="fv-row mb-5">
                                    <label class="form-label fs-6 fw-bolder text-dark">新密码</label>
                                    <input class="form-control form-control-lg" type="password" id="la_fp_new" placeholder="新密码（≥6位）" />
                                </div>
                                <div class="fv-row mb-5">
                                    <label class="form-label fs-6 fw-bolder text-dark">确认密码</label>
                                    <input class="form-control form-control-lg" type="password" id="la_fp_confirm" placeholder="再次输入新密码" />
                                </div>
                                <div class="text-center">
                                    <button type="button" class="btn btn-lg btn-bg-info w-100 mb-3" id="la_fp_submit" onclick="laFpConfirm()"><span class="text-white">确认重置</span></button>
                                    <a href="#" class="btn btn-lg btn-light w-100" onclick="laShowFpStep1(); return false;">上一步</a>
                                </div>
                                <div id="la_fp_error2" class="text-danger mt-2" style="display:none;"></div>
                            </div>
                        </div>

                        <!-- OAuth 第三方登录 -->
                        @if (set.OAuthItems != null && set.OAuthItems.Count > 0)
                        {
                            <div class="separator separator-content my-8">
                                <span class="fs-7 text-gray-600">第三方登录</span>
                            </div>
                            <div class="d-flex justify-content-center flex-wrap gap-3">
                                @foreach (var mi in set.OAuthItems)
                                {
                                    var nickName = !mi.NickName.IsNullOrEmpty() ? mi.NickName : mi.Name;
                                    var oauthUrl = "/Sso/Login/" + mi.Name;
                                    if (!set.ReturnUrl.IsNullOrEmpty()) { oauthUrl += "?r=" + System.Web.HttpUtility.UrlEncode(set.ReturnUrl); }
                                    var logo = !mi.Logo.IsNullOrEmpty() ? mi.Logo : ViewHelper.GetLogo(mi.Name);
                                    <a href="@oauthUrl" class="d-flex flex-column align-items-center text-decoration-none" title="@nickName">
                                        @if (!logo.IsNullOrEmpty())
                                        {
                                            <img src="@logo" style="width:36px;height:36px;border-radius:50%;" alt="@nickName" />
                                        }
                                        else
                                        {
                                            <span class="d-flex align-items-center justify-content-center bg-secondary rounded-circle" style="width:36px;height:36px;font-weight:bold;">@nickName.Substring(0, 1).ToUpper()</span>
                                        }
                                        <span class="fs-8 text-muted mt-1" style="max-width:52px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">@nickName</span>
                                    </a>
                                }
                            </div>
                        }
                    </div>
                </div>

                <!-- 版权信息 -->
                <div class="d-flex flex-center flex-column flex-wrap p-5 pb-3">
                    <div class="d-flex flex-center fs-10 text-muted">
                        @Html.Raw(config.GetCopyright())
                        <a>&nbsp;&nbsp;VER: @SysConfig.Current.Version</a>
                    </div>
                    <div class="d-flex flex-center fw-bold fs-10">
                        <a href="https://www.beianx.cn/" class="text-muted text-hover-primary">@config.Registration</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/assets/js/scripts.bundle.js"></script>
    <script>
        var laReturnUrl = '@Html.Raw(set.ReturnUrl)';
        var _laFpCh = 'Sms', _laFpCd = 0, _laFpTimer = null;

        // RSA-OAEP 密码加密（浏览器 Web Crypto API）
        async function laEncryptRSA(password, pemPublicKey) {
            try {
                var base64 = pemPublicKey.replace(/-----BEGIN [^-]+-----/, '').replace(/-----END [^-]+-----/, '').replace(/\s/g, '');
                var binary = atob(base64); var bytes = new Uint8Array(binary.length);
                for (var i = 0; i < binary.length; i++) { bytes[i] = binary.charCodeAt(i); }
                var key = await crypto.subtle.importKey('spki', bytes.buffer, { name: 'RSA-OAEP', hash: 'SHA-256' }, false, ['encrypt']);
                var encrypted = await crypto.subtle.encrypt({ name: 'RSA-OAEP' }, key, new TextEncoder().encode(password));
                return btoa(String.fromCharCode(...new Uint8Array(encrypted)));
            } catch (e) { return null; }
        }

        async function laHandleLoginSubmit(e) {
            e.preventDefault();
            var pwdInput = document.getElementById('la_pwd_input');
            var pkeyInput = document.getElementById('la_pkey_input');
            var pwd = pwdInput.value;
            if (!pwd) { document.getElementById('la_pwd_form').submit(); return false; }
            try {
                var res = await fetch('/Auth/Challenge');
                var data = await res.json();
                if (data.code === 0 && data.data && data.data.publicKey) {
                    var encrypted = await laEncryptRSA(pwd, data.data.publicKey);
                    if (encrypted) { pwdInput.value = encrypted; pkeyInput.value = data.data.pkey; }
                }
            } catch (e) { /* 降级明文提交 */ }
            document.getElementById('la_pwd_form').submit();
            return false;
        }

        function laShowForgot() {
            document.getElementById('loginTabs') && (document.getElementById('loginTabs').style.display = 'none');
            document.querySelector('.tab-content') && (document.querySelector('.tab-content').style.display = 'none');
            document.getElementById('la_forgot_panel').style.display = '';
        }
        function laHideForgot() {
            document.getElementById('la_forgot_panel').style.display = 'none';
            document.getElementById('loginTabs') && (document.getElementById('loginTabs').style.display = '');
            document.querySelector('.tab-content') && (document.querySelector('.tab-content').style.display = '');
        }
        function laShowFpStep1() {
            document.getElementById('la_forgot_step1').style.display = '';
            document.getElementById('la_forgot_step2').style.display = 'none';
        }
        function laSetFpErr(id, msg) {
            var el = document.getElementById(id);
            el.style.display = msg ? '' : 'none';
            el.textContent = msg;
        }
        function laSetFpCh(ch) {
            _laFpCh = ch;
            document.getElementById('la_fp_ch_sms').style.border = ch === 'Sms' ? '2px solid #009ef7' : '';
            document.getElementById('la_fp_ch_sms').className = 'btn btn-sm ' + (ch === 'Sms' ? 'btn-light-info' : 'btn-light');
            document.getElementById('la_fp_ch_mail').style.border = ch === 'Mail' ? '2px solid #009ef7' : '';
            document.getElementById('la_fp_ch_mail').className = 'btn btn-sm ' + (ch === 'Mail' ? 'btn-light-info' : 'btn-light');
        }
        function laStartFpCd(btn) {
            if (_laFpTimer) clearInterval(_laFpTimer);
            _laFpCd = 60; btn.disabled = true; btn.textContent = _laFpCd + 's';
            _laFpTimer = setInterval(function() {
                _laFpCd--;
                if (_laFpCd <= 0) { clearInterval(_laFpTimer); _laFpTimer = null; btn.disabled = false; btn.textContent = '重新发送'; }
                else { btn.textContent = _laFpCd + 's'; }
            }, 1000);
        }
        async function laFpSendCode() {
            var username = document.getElementById('la_fp_user').value.trim();
            if (!username) { laSetFpErr('la_fp_error1', '请输入手机号或邮箱'); return; }
            var btn = document.getElementById('la_fp_send_btn');
            btn.disabled = true; laSetFpErr('la_fp_error1', '');
            try {
                var res = await fetch('/Auth/SendCode', { method: 'POST', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({ channel: _laFpCh, username: username, action: 'reset' }) });
                var data = await res.json();
                if (data.code !== 0) { laSetFpErr('la_fp_error1', data.message || '发送失败'); btn.disabled = false; return; }
                document.getElementById('la_forgot_step1').style.display = 'none';
                document.getElementById('la_forgot_step2').style.display = '';
                laStartFpCd(document.getElementById('la_fp_resend'));
            } catch (e) { laSetFpErr('la_fp_error1', '发送失败，请稍后重试'); btn.disabled = false; }
        }
        async function laFpResend() {
            if (_laFpCd > 0) return;
            var username = document.getElementById('la_fp_user').value.trim();
            var btn = document.getElementById('la_fp_resend');
            btn.disabled = true;
            try {
                await fetch('/Auth/SendCode', { method: 'POST', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({ channel: _laFpCh, username: username, action: 'reset' }) });
                laStartFpCd(btn);
            } catch(e) { btn.disabled = false; }
        }
        async function laFpConfirm() {
            var username = document.getElementById('la_fp_user').value.trim();
            var code = document.getElementById('la_fp_code').value.trim();
            var newPwd = document.getElementById('la_fp_new').value;
            var confirmPwd = document.getElementById('la_fp_confirm').value;
            if (!code) { laSetFpErr('la_fp_error2', '请输入验证码'); return; }
            if (!newPwd) { laSetFpErr('la_fp_error2', '请输入新密码'); return; }
            if (newPwd !== confirmPwd) { laSetFpErr('la_fp_error2', '两次密码不一致'); return; }
            var btn = document.getElementById('la_fp_submit');
            btn.disabled = true; laSetFpErr('la_fp_error2', '');
            try {
                var res = await fetch('/Auth/ResetPassword', { method: 'POST', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({ username: username, code: code, newPassword: newPwd, confirmPassword: confirmPwd }) });
                var data = await res.json();
                if (data.code === 0) { alert('密码重置成功，请重新登录'); laHideForgot(); }
                else { laSetFpErr('la_fp_error2', data.message || '重置失败'); btn.disabled = false; }
            } catch (e) { laSetFpErr('la_fp_error2', '重置失败，请稍后重试'); btn.disabled = false; }
        }
        async function laSendCode(channel, userId, btnId) {
            var username = document.getElementById(userId).value;
            if (!username) { alert(channel === 'Sms' ? '请输入手机号' : '请输入邮箱'); return; }
            var btn = document.getElementById(btnId);
            try {
                var res = await fetch('/Auth/SendCode', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ channel: channel, username: username, action: 'login' })
                });
                var data = await res.json();
                if (data.code !== 0) { alert(data.message || '发送失败'); return; }
                var n = 60;
                btn.disabled = true;
                btn.textContent = n + 's';
                var t = setInterval(function () {
                    n--;
                    if (n <= 0) { clearInterval(t); btn.disabled = false; btn.textContent = '获取验证码'; }
                    else btn.textContent = n + 's';
                }, 1000);
            } catch (e) { alert('发送失败，请稍后重试'); }
        }
        async function laLoginByCode(userId, codeId, cat) {
            var username = document.getElementById(userId).value;
            var code = document.getElementById(codeId).value;
            if (!username || !code) { alert('请填写账号和验证码'); return; }
            try {
                var res = await fetch('/Auth/LoginByCode', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ username: username, password: code, loginCategory: cat })
                });
                var data = await res.json();
                if (data.code === 0) window.location.href = laReturnUrl || '/Admin';
                else alert(data.message || '登录失败');
            } catch (e) { alert('登录失败，请稍后重试'); }
        }
    </script>
</body>
</html>

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - @SysConfig.Current.DisplayName</title>
    <meta name="description" content="@SysConfig.Current.Company">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
</head>
<body id="kt_body" class="bg-white">
    <div class="d-flex flex-column flex-root">
        <div class="d-flex flex-column flex-lg-row flex-column-fluid">
            <div class="d-flex flex-column flex-lg-row-auto w-xl-1000px positon-xl-relative" style="background-image: url(../../assets/media/bg-4.jpg) ">
                <div class="d-flex flex-column position-xl-fixed top-0 bottom-0 w-xl-1000px scroll-y">
                    <div class="d-flex flex-row-fluid flex-column text-center p-10 pt-lg-20">
                        <h1 class="fw-bolder fs-2qx pb-5 pb-md-10 text-white">@SysConfig.Current.DisplayName</h1>
                        <p class="fw-bold fs-3 text-muted">
                            @SysConfig.Current.Company
                            <br />
                        </p>

                    </div>
                    <div class="d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-100px min-h-lg-350px" style="background-image: url(../../assets/media/verification.png) "></div>
                </div>
            </div>

            <div class="d-flex flex-column flex-lg-row-fluid py-10">

                @if (Html.ValidationSummary(true).ToDictionary().Count()>1)
                {
                    <div class="alert alert-dismissible bg-light-danger border border-danger border-dashed d-flex flex-column flex-sm-row m-10">
                        <!--begin::Icon-->
                        <!--begin::Svg Icon | path: icons/duotone/Interface/Comment.svg-->
                    <span class="svg-icon svg-icon-2hx svg-icon-danger me-4 mb-5 mb-sm-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path opacity="0.25" fill-rule="evenodd" clip-rule="evenodd" d="M5.69477 2.48932C4.00472 2.74648 2.66565 3.98488 2.37546 5.66957C2.17321 6.84372 2 8.33525 2 10C2 11.6647 2.17321 13.1563 2.37546 14.3304C2.62456 15.7766 3.64656 16.8939 5 17.344V20.7476C5 21.5219 5.84211 22.0024 6.50873 21.6085L12.6241 17.9949C14.8384 17.9586 16.8238 17.7361 18.3052 17.5107C19.9953 17.2535 21.3344 16.0151 21.6245 14.3304C21.8268 13.1563 22 11.6647 22 10C22 8.33525 21.8268 6.84372 21.6245 5.66957C21.3344 3.98488 19.9953 2.74648 18.3052 2.48932C16.6859 2.24293 14.4644 2 12 2C9.53559 2 7.31411 2.24293 5.69477 2.48932Z" fill="#191213"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 7C6.44772 7 6 7.44772 6 8C6 8.55228 6.44772 9 7 9H17C17.5523 9 18 8.55228 18 8C18 7.44772 17.5523 7 17 7H7ZM7 11C6.44772 11 6 11.4477 6 12C6 12.5523 6.44772 13 7 13H11C11.5523 13 12 12.5523 12 12C12 11.4477 11.5523 11 11 11H7Z" fill="#121319"></path>
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                        <!--end::Icon-->
                        <!--begin::Content-->
                    <div class="d-flex flex-column pe-0 pe-sm-10">
                            <h5 class="mb-1 text-danger">信息</h5>
                            <span class="text-danger">@Html.ValidationSummary()</span>
                        </div>
                        <!--end::Content-->
                        <!--begin::Close-->
                    <button type="button" class="position-absolute position-sm-relative m-2 m-sm-0 top-0 end-0 btn btn-icon ms-sm-auto" data-bs-dismiss="alert">
                            <i class="bi bi-x fs-1 text-danger"></i>
                        </button>
                        <!--end::Close-->
                </div>

                }
                <!--begin::Content-->
                <div class="d-flex flex-center flex-column flex-column-fluid">
                    <!--begin::Wrapper-->
                    <div class="w-lg-500px p-10 p-lg-15 mx-auto">
                        <!--begin::Form-->
                        <form action="@Url.Action("Login", "User", new { r = set.ReturnUrl })" method="post" id="kt_sign_in_form">


                            <!--begin::Heading--><div class="text-center mb-10">
                                <h1 class="text-dark mb-3">
                                    <a href="#" class="py-9">
                                        <img alt="Logo" src="~/assets/logo/logo.png" class="h-70px" />
                                    </a>
                                </h1>

                            </div>

                            <!--begin::Heading-->
                            <!--begin::Input group-->
                            <div class="fv-row mb-10">
                                <!--begin::Label-->
                                <label class="form-label fs-6 fw-bolder text-dark">用户名</label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input class="form-control form-control-lg" type="text" name="username" id="username" autocomplete="off" placeholder="用户名" />
                                <!--end::Input-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="fv-row mb-10">
                                <!--begin::Wrapper-->
                                <div class="d-flex flex-stack mb-2">
                                    <!--begin::Label-->
                                    <label class="form-label fw-bolder text-dark fs-6 mb-0">密码</label>
                                    <!--end::Label-->
                                </div>
                                <!--end::Wrapper-->
                                <!--begin::Input-->
                                <input class="form-control form-control-lg" type="password" name="password" id="password" autocomplete="off" placeholder="密码" />
                                <!--end::Input-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Actions-->
                            <div class="text-center">
                                <!--begin::Submit button-->
                                <button type="submit" class="btn btn-lg btn-bg-info w-100 mb-5">
                                    <span class="indicator-label text-white">登 录</span>
                                    <span class="indicator-progress">
                                        Please wait...
                                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                    </span>
                                </button>
                                <!--end::Submit button-->

                            </div>
                            <!--end::Actions-->
                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Content-->

                <div class="d-flex flex-center flex-wrap fs-6 p-5 pb-0">
                    <div class="d-flex flex-center fw-bold fs-6">
                        <p class="fs-10 text-muted">
                            Version: @SysConfig.Current.Version
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="~/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/assets/js/scripts.bundle.js"></script>
    <script src="~/assets/js/custom/authentication/sign-in/general.js"></script>
</body>
</html>
