@model XCode.Membership.User
@using System.Linq
@using System.Reflection
@using XCode
@using XCode.Configuration
@using NewLife.Cube.Entity;
@{
    var fact = EntityFactory.CreateFactory(ViewData.ModelMetadata.ModelType);
    var user = Model as IUser;
}

<!-- 基本信息 -->
<div class="card card-custom gutter-b">
    <div class="card-body">
        <div class="d-flex">
            <!--begin::Pic-->
            <div class="flex-shrink-0 mr-7">
                <div class="symbol symbol-50 symbol-lg-100">
                    @if (!user.Avatar.IsNullOrEmpty())
                    {
                        <img alt="Pic" src="@user.GetAvatarUrl()">
                    }
                    else
                    {
                        <span class="symbol-label font-size-h5 text-hover-primary">@user.Name.Substring(0, 1).ToUpper()</span>
                    }
                </div>
            </div>
            <!--end::Pic-->
            <!--begin: Info-->
            <div class="flex-grow-1">
                <!--begin::Title-->
                <div class="d-flex align-items-center justify-content-between flex-wrap">
                    <!--begin::User-->
                    <div class="mr-3">
                        <div class="d-flex align-items-center mr-3">
                            <a class="d-flex align-items-center text-dark text-hover-primary font-size-h5 font-weight-bold mr-3">@user.Name</a>
                            <span class="label label-light-success label-inline font-weight-bolder mr-1">@user.RoleName</span>
                        </div>
                        <!--begin::Contacts-->
                        <div class="d-flex flex-wrap my-2">
                            <a class="text-muted text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
                                <span class="svg-icon svg-icon-md svg-icon-gray-500 mr-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"></rect>
                                            <path d="M21,12.0829584 C20.6747915,12.0283988 20.3407122,12 20,12 C16.6862915,12 14,14.6862915 14,18 C14,18.3407122 14.0283988,18.6747915 14.0829584,19 L5,19 C3.8954305,19 3,18.1045695 3,17 L3,8 C3,6.8954305 3.8954305,6 5,6 L19,6 C20.1045695,6 21,6.8954305 21,8 L21,12.0829584 Z M18.1444251,7.83964668 L12,11.1481833 L5.85557487,7.83964668 C5.4908718,7.6432681 5.03602525,7.77972206 4.83964668,8.14442513 C4.6432681,8.5091282 4.77972206,8.96397475 5.14442513,9.16035332 L11.6444251,12.6603533 C11.8664074,12.7798822 12.1335926,12.7798822 12.3555749,12.6603533 L18.8555749,9.16035332 C19.2202779,8.96397475 19.3567319,8.5091282 19.1603533,8.14442513 C18.9639747,7.77972206 18.5091282,7.6432681 18.1444251,7.83964668 Z" fill="#000000"></path>
                                            <circle fill="#000000" opacity="0.3" cx="19.5" cy="17.5" r="2.5"></circle>
                                        </g>
                                    </svg>
                                    <!--end::Svg Icon-->
                                </span>@user.Mail
                            </a>
                            <a class="text-muted text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
                                <span class="svg-icon svg-icon-md svg-icon-gray-500 mr-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path d="M12,22 C6.4771525,22 2,17.5228475 2,12 C2,6.4771525 6.4771525,2 12,2 C17.5228475,2 22,6.4771525 22,12 C22,17.5228475 17.5228475,22 12,22 Z M11.613922,13.2130341 C11.1688026,13.6581534 10.4887934,13.7685037 9.92575695,13.4869855 C9.36272054,13.2054673 8.68271128,13.3158176 8.23759191,13.760937 L6.72658218,15.2719467 C6.67169475,15.3268342 6.63034033,15.393747 6.60579393,15.4673862 C6.51847004,15.7293579 6.66005003,16.0125179 6.92202169,16.0998418 L8.27584113,16.5511149 C9.57592638,16.9844767 11.009274,16.6461092 11.9783003,15.6770829 L15.9775173,11.6778659 C16.867756,10.7876271 17.0884566,9.42760861 16.5254202,8.3015358 L15.8928491,7.03639343 C15.8688153,6.98832598 15.8371895,6.9444475 15.7991889,6.90644684 C15.6039267,6.71118469 15.2873442,6.71118469 15.0920821,6.90644684 L13.4995401,8.49898884 C13.0544207,8.94410821 12.9440704,9.62411747 13.2255886,10.1871539 C13.5071068,10.7501903 13.3967565,11.4301996 12.9516371,11.8753189 L11.613922,13.2130341 Z" fill="#000000" />
                                        </g>
                                    </svg>
                                </span>@user.Mobile
                            </a>
                            <a class="text-muted text-hover-primary font-weight-bold">
                                <span class="svg-icon svg-icon-md svg-icon-gray-500 mr-1">
                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Map/Marker2.svg-->
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"></rect>
                                            <path d="M9.82829464,16.6565893 C7.02541569,15.7427556 5,13.1079084 5,10 C5,6.13400675 8.13400675,3 12,3 C15.8659932,3 19,6.13400675 19,10 C19,13.1079084 16.9745843,15.7427556 14.1717054,16.6565893 L12,21 L9.82829464,16.6565893 Z M12,12 C13.1045695,12 14,11.1045695 14,10 C14,8.8954305 13.1045695,8 12,8 C10.8954305,8 10,8.8954305 10,10 C10,11.1045695 10.8954305,12 12,12 Z" fill="#000000"></path>
                                        </g>
                                    </svg>
                                    <!--end::Svg Icon-->
                                </span>@user.DisplayName
                            </a>
                        </div>
                        <!--end::Contacts-->
                    </div>
                    <!--begin::User-->
                    <!--begin::Actions-->
                    <div class="mb-10">
                        @*<a href="#" class="btn btn-sm btn-light-primary font-weight-bolder text-uppercase mr-2">contact</a>*@
                        <a href="~/Admin/User/Logout" class="btn btn-primary btn-sm font-weight-bolder">注销</a>
                    </div>
                    <!--end::Actions-->
                </div>
                <!--end::Title-->
                <!--begin::Content-->
                <div class="d-flex align-items-center flex-wrap">
                    <div class="d-flex align-items-center pb-3 mr-10">
                        <div class="d-flex flex-column flex-grow-1">
                            <a class="text-dark-75 text-hover-primary mb-1 font-size-lg font-weight-bolder">注册信息:@user.RegisterIP</a>
                            <span class="text-muted font-weight-bold" data-toggle="tooltip" data-placement="top" title="注册时间">@user.RegisterTime.ToFullString()</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center pb-3 mr-10">
                        <div class="d-flex flex-column flex-grow-1 mr-10">
                            <a class="text-dark-75 text-hover-primary mb-1 font-size-lg font-weight-bolder">登录信息:@user.LastLoginIP</a>
                            <span class="text-muted font-weight-bold" data-toggle="tooltip" data-placement="top" title="登录时间">@user.LastLogin.ToFullString()</span>
                        </div>
                        <span class="font-weight-bolder label label-xl label-light-info label-inline px-3 py-5 min-w-45px" data-toggle="tooltip" data-placement="top" title="登录次数">@user.Logins</span>
                    </div>
                </div>
                <!--end::Content-->
            </div>
            <!--end::Info-->
        </div>
    </div>
</div>

<div class="card card-custom gutter-b">
    <div class="card-header card-header-tabs-line ">
        <div class="card-title">
            <h5 class="text-hover-primary">用户信息</h5>
        </div>
        <div class="card-toolbar">
            <ul class="nav nav-tabs nav-tabs-space-lg nav-tabs-line nav-bold nav-tabs-line-2x" role="tablist">
                <li class="nav-item">
                    <a href="#user_basicinfo" class="nav-link active" data-toggle="tab">
                        <span class="nav-text">基本信息</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#user_change_password" class="nav-link" data-toggle="tab">
                        <span class="nav-text">修改密码</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#user_log" class="nav-link" data-toggle="tab">
                        <span class="nav-text">操作信息</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="card-body px-0">
        <div class="tab-content pt-5">
            <div class="tab-pane active" id="user_basicinfo" role="tabpanel">
                <div class="container">
                    @using (Html.BeginForm("Info", null, new { id = Model[fact.Unique.Name] }))
                    {
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-xl-3"></div>
                                <div class="col-xl-6">
                                    @Html.ValidationSummary()
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label class="control-label pl-0">用户昵称</label>
                                        <div class="input-group">
                                            @Html.ForEditor("DisplayName", user.DisplayName)
                                            @Html.ForDescription("DisplayName")
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label class="control-label pl-0">性别</label>
                                        <div class="input-group">
                                            @Html.ForEditor("Sex", user.Sex)
                                        </div>
                                        @Html.ForDescription("Sex")
                                    </div>
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label class="control-label pl-0">电子邮件</label>
                                        <div class="input-group">
                                            @Html.ForEditor("Mail")
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label class="control-label pl-0">手机</label>
                                        <div class="input-group">
                                            @Html.ForEditor("Mobile")
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label class="control-label pl-0">代码</label>
                                        <div class="input-group">
                                            @Html.ForEditor("Code")
                                        </div>
                                        @Html.ForDescription("Code")
                                    </div>
                                </div>
                            </div>

                            <div class="row form-actions">
                                <div class="col-xl-3"></div>
                                <div class="col-xl-6 d-flex justify-content-between" style="padding-right: 25px;">
                                    <label class="control-label"></label>
                                    <div>
                                        <button type="submit" class="btn btn-success btn-sm"><i class="la la-save"></i><strong>保存</strong></button>
                                        <button type="button" class="btn btn-danger btn-sm" onclick="history.go(-1);"><i class="la la-remove"></i><strong>取消</strong></button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="tab-pane" id="user_change_password" role="tabpanel">
                <div class="container">
                    @{ 
                        var model = new ChangePasswordModel { Name = user.Name, SsoName = Context.Session.Get<String>("Cube_Sso") };
                    }
                     @await Html.PartialAsync("ChangePassword", model)
                </div>
            </div>

            <div class="tab-pane" id="user_log" role="tabpanel">
                <div class="container">

                </div>
            </div>
        </div>
    </div>
</div>
