@model IList<XCode.Membership.Role>
@using NewLife;
@using NewLife.Web;
@using XCode;
@using XCode.Configuration;
@{
    var fact = ViewBag.Factory as IEntityFactory;
    var page = ViewBag.Page as Pager;
    var set = ViewBag.PageSetting as PageSetting;
    var provider = ManageProvider.Provider;
}
<table class="table table-hover">
    <thead>
        <tr>
            @if (set.EnableSelect)
            {
                <th class="text-center" style="width:10px;"><label class="checkbox checkbox-single"><input class="checkable" type="checkbox" id="chkAll" title="全选" /><span /></label></th>
            }
            <th><a href="@Html.Raw(page.GetSortUrl("Name"))">名称</a></th>
            <th class="text-center" title="系统。系统角色用于业务系统开发使用，禁止修改名称或删除"><a href="@Html.Raw(page.GetSortUrl("IsSystem"))">系统</a></th>
            <th><a href="@Html.Raw(page.GetSortUrl("Remark"))">说明</a></th>
            <th class="text-center"><a href="@Html.Raw(page.GetSortUrl("UpdateUserID"))">更新用户</a></th>
            <th class="text-center" style="min-width:134px;"><a href="@Html.Raw(page.GetSortUrl("UpdateTime"))">更新时间</a></th>
            @if (this.Has(PermissionFlags.Detail, PermissionFlags.Update, PermissionFlags.Delete))
            {
                <th class="text-center">操作</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var entity in Model)
        {
            <tr>
                @if (set.EnableSelect)
                {
                    <td class="text-center align-middle"><label class="checkbox checkbox-single"><input type="checkbox" name="keys" value="@entity.ID" /><span /></label></td>
                }
                <td class="align-middle">@entity.Name</td>
                <td class="text-center align-middle">
                    <i class="la la-@(entity.IsSystem ? "check" : "remove")" style="color: @(entity.IsSystem ? "green" : "red");"></i>
                </td>
                <td class="align-middle">@entity.Remark</td>
                <td class="text-center align-middle">@provider.FindByID(entity.UpdateUserID)</td>
                <td class="text-center align-middle">@entity.UpdateTime.ToFullString("")</td>
                @if (this.Has(PermissionFlags.Detail, PermissionFlags.Update, PermissionFlags.Delete))
                {
                    <td class="text-center align-middle">
                        <div class="d-flex d-inline-flex">
                            @await Html.PartialAsync("_List_Data_Action", (Object)entity)
                        </div>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>