@using NewLife;
@using NewLife.Common;
@using NewLife.Cube.Areas.Admin.Models;
@model LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "登录";

    var set = Model;
    var config = NewLife.Cube.CubeSetting.Current;
    var loginTip = config.LoginTip;
    var loginBackground = config.LoginBackground;
    var loginLogo = config.LoginLogo;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - @SysConfig.Current.DisplayName</title>
    <meta name="description" content="@SysConfig.Current.Company">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/assets/favicon.ico" rel="shortcut icon" type="image/x-icon">
    @*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />*@
    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
</head>
<body id="kt_body" class="bg-white">
    <div class="d-flex flex-column flex-root">
        <div class="d-flex flex-column flex-lg-row flex-column-fluid">
            <div class="d-flex flex-column flex-lg-row-auto w-xl-1000px positon-xl-relative" style="background-image: url('@(loginBackground.IsNullOrEmpty() ? "../../assets/media/bg-4.jpg" : loginBackground)') ">
                <div class="d-flex flex-column position-xl-fixed top-0 bottom-0 w-xl-1000px scroll-y">
                    <div class="d-flex flex-row-fluid flex-column text-center p-10 pt-lg-20">
                        <h1 class="fw-bolder fs-3x pb-5 pb-md-10 text-white 1h-x">@SysConfig.Current.DisplayName</h1>
                        <p class="fw-bold fs-3 text-muted">
                            @SysConfig.Current.Company
                            <br />
                        </p>

                    </div>
                    <div class="d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-100px min-h-lg-350px" style="background-image: url(../../assets/media/verification.png) "></div>
                </div>
            </div>

            <div class="d-flex flex-column flex-lg-row-fluid">
                <!-- 登录提示信息 -->
                @if (!loginTip.IsNullOrEmpty())
                {
                    <div class="alert alert-dismissible bg-info d-flex flex-column flex-sm-row w-100 p-5 mb-10">
                        <span class="svg-icon svg-icon-2hx svg-icon-light me-4 mb-5 mb-sm-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path opacity="0.3" d="M12 22C13.6569 22 15 20.6569 15 19C15 17.3431 13.6569 16 12 16C10.3431 16 9 17.3431 9 19C9 20.6569 10.3431 22 12 22Z" fill="black"></path>
                                <path d="M19 15V18C19 18.6 18.6 19 18 19H6C5.4 19 5 18.6 5 18V15C6.1 15 7 14.1 7 13V10C7 7.6 8.7 5.6 11 5.1V3C11 2.4 11.4 2 12 2C12.6 2 13 2.4 13 3V5.1C15.3 5.6 17 7.6 17 10V13C17 14.1 17.9 15 19 15ZM11 10C11 9.4 11.4 9 12 9C12.6 9 13 8.6 13 8C13 7.4 12.6 7 12 7C10.3 7 9 8.3 9 10C9 10.6 9.4 11 10 11C10.6 11 11 10.6 11 10Z" fill="black"></path>
                            </svg>
                        </span>
                        <div class="d-flex flex-column text-light pe-0 pe-sm-10">
                            <h4 class="mb-2 text-light">登录提示</h4>
                            <span>@loginTip</span>
                        </div>
                        <button type="button" class="position-absolute position-sm-relative m-2 m-sm-0 top-0 end-0 btn btn-icon ms-sm-auto" data-bs-dismiss="alert">
                            <span class="svg-icon svg-icon-2x svg-icon-light">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black"></rect>
                                    <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black"></rect>
                                </svg>
                            </span>
                        </button>
                    </div>
                }

                <!-- 登录校验信息 -->
                @if (Html.ValidationSummary(true).ToDictionary().Count() > 1)
                {
                    <div class="alert alert-dismissible bg-light-danger border border-danger border-dashed d-flex flex-column flex-sm-row m-10">
                        <!--begin::Icon-->
                        <!--begin::Svg Icon | path: icons/duotone/Interface/Comment.svg-->
                        <span class="svg-icon svg-icon-2hx svg-icon-danger me-4 mb-5 mb-sm-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path opacity="0.25" fill-rule="evenodd" clip-rule="evenodd" d="M5.69477 2.48932C4.00472 2.74648 2.66565 3.98488 2.37546 5.66957C2.17321 6.84372 2 8.33525 2 10C2 11.6647 2.17321 13.1563 2.37546 14.3304C2.62456 15.7766 3.64656 16.8939 5 17.344V20.7476C5 21.5219 5.84211 22.0024 6.50873 21.6085L12.6241 17.9949C14.8384 17.9586 16.8238 17.7361 18.3052 17.5107C19.9953 17.2535 21.3344 16.0151 21.6245 14.3304C21.8268 13.1563 22 11.6647 22 10C22 8.33525 21.8268 6.84372 21.6245 5.66957C21.3344 3.98488 19.9953 2.74648 18.3052 2.48932C16.6859 2.24293 14.4644 2 12 2C9.53559 2 7.31411 2.24293 5.69477 2.48932Z" fill="#191213"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 7C6.44772 7 6 7.44772 6 8C6 8.55228 6.44772 9 7 9H17C17.5523 9 18 8.55228 18 8C18 7.44772 17.5523 7 17 7H7ZM7 11C6.44772 11 6 11.4477 6 12C6 12.5523 6.44772 13 7 13H11C11.5523 13 12 12.5523 12 12C12 11.4477 11.5523 11 11 11H7Z" fill="#121319"></path>
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                        <!--end::Icon-->
                        <!--begin::Content-->
                        <div class="d-flex flex-column pe-0 pe-sm-10">
                            <h5 class="mb-1 text-danger">信息</h5>
                            <span class="text-danger">@Html.ValidationSummary()</span>
                        </div>
                        <!--end::Content-->
                        <!--begin::Close-->
                        <button type="button" class="position-absolute position-sm-relative m-2 m-sm-0 top-0 end-0 btn btn-icon ms-sm-auto" data-bs-dismiss="alert">
                            <i class="fas fa-times fs-1 text-danger"></i>
                        </button>
                        <!--end::Close-->
                    </div>

                }
                <!--begin::Content-->
                <div class="d-flex flex-center flex-column flex-column-fluid">
                    <!--begin::Wrapper-->
                    <div class="w-sm-500px p-10 p-lg-15 mx-auto">
                        <div class="text-center mb-10">
                            <h1 class="text-dark mb-3">
                                <a href="#" class="py-9">
                                    <img alt="Logo" src="@(loginLogo.IsNullOrEmpty() ? "~/assets/media/logos/Logo.png" : loginLogo)" class="h-90px" />
                                </a>
                            </h1>
                        </div>

                        <!-- Tab 导航 -->
                        @if (set.EnableSms || set.EnableMail)
                        {
                            <ul class="nav nav-pills nav-justified mb-5" id="loginTabs" role="tablist">
                                @if (set.AllowLogin)
                                {
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="tab-pwd" data-bs-toggle="pill" data-bs-target="#Pane_Login" type="button">密码登录</button>
                                    </li>
                                }
                                @if (set.EnableSms)
                                {
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link @(!set.AllowLogin ? "active" : "")" id="tab-sms" data-bs-toggle="pill" data-bs-target="#Pane_SMS" type="button">手机验证码</button>
                                    </li>
                                }
                                @if (set.EnableMail)
                                {
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link @(!set.AllowLogin && !set.EnableSms ? "active" : "")" id="tab-mail" data-bs-toggle="pill" data-bs-target="#Pane_Mail" type="button">邮箱验证码</button>
                                    </li>
                                }
                            </ul>
                        }

                        <div class="tab-content">
                            <!-- 登录界面 -->
                            <div id="Pane_Login" class="tab-pane fade @(set.AllowLogin ? "show active" : "")">
                                <!--begin::Form-->
                                <form action="@Url.Action("Login", "User", new { r = set.ReturnUrl })" method="post" id="kt_sign_in_form" onsubmit="return handleLoginSubmit(event)">
                                    <!--begin::Heading-->
                                    <div class="fv-row mb-5">
                                        <label class="form-label fs-4 text-gray-700">用户名</label>
                                        <input class="form-control form-control-lg" type="text" name="username" id="username" autocomplete="off" placeholder="用户名" />
                                    </div>
                                    <div class="fv-row mb-10">
                                        <div class="d-flex flex-stack mb-2">
                                            <label class="form-label fs-4 text-gray-700 mb-0">密码</label>
                                            <a href="#" class="link-primary fs-4" id="btn_forgot" onclick="showForgot()">忘记密码</a>
                                        </div>
                                        <input class="form-control form-control-lg" type="password" name="password" id="password" autocomplete="off" placeholder="密码" />
                                        <input type="hidden" name="challengeId" id="challenge_id_input" value="" />
                                    </div>

                                    <!--begin::Actions-->
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-lg btn-bg-info w-100 mb-5">
                                            <span class="indicator-label text-white">登录</span>
                                            <span class="indicator-progress">
                                                Please wait...
                                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                            </span>
                                        </button>

                                        @if (set.AllowRegister)
                                        {
                                            <a id="btnRegister" href="#Pane_Register" class="btn btn-lg btn-bg-light btn-active-info w-100 mb-5 nav-link" onclick="register()">注册</a>
                                        }
                                    </div>
                                </form>
                                <!--end::Form-->
                            </div>
                            <!-- 手机验证码登录 -->
                            @if (set.EnableSms)
                            {
                                <div id="Pane_SMS" class="tab-pane fade @(!set.AllowLogin ? "show active" : "")">
                                    <div class="fv-row mb-5">
                                        <label class="form-label fs-4 text-gray-700">手机号</label>
                                        <input class="form-control form-control-lg" type="text" id="sms_username" placeholder="手机号" />
                                    </div>
                                    <div class="fv-row mb-5">
                                        <label class="form-label fs-4 text-gray-700">验证码</label>
                                        <div class="input-group">
                                            <input class="form-control form-control-lg" type="text" id="sms_code" placeholder="验证码" />
                                            <button type="button" class="btn btn-outline-secondary" id="sms_send_btn" onclick="sendCode('Sms', 'sms_username', 'sms_send_btn')">获取验证码</button>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-lg btn-bg-info w-100 mb-5" onclick="loginByCode('sms_username', 'sms_code', 1)">
                                            <span class="text-white">登录</span>
                                        </button>
                                    </div>
                                </div>
                            }
                            <!-- 邮箱验证码登录 -->
                            @if (set.EnableMail)
                            {
                                <div id="Pane_Mail" class="tab-pane fade @(!set.AllowLogin && !set.EnableSms ? "show active" : "")">
                                    <div class="fv-row mb-5">
                                        <label class="form-label fs-4 text-gray-700">邮箱地址</label>
                                        <input class="form-control form-control-lg" type="email" id="mail_username" placeholder="邮箱地址" />
                                    </div>
                                    <div class="fv-row mb-5">
                                        <label class="form-label fs-4 text-gray-700">验证码</label>
                                        <div class="input-group">
                                            <input class="form-control form-control-lg" type="text" id="mail_code" placeholder="验证码" />
                                            <button type="button" class="btn btn-outline-secondary" id="mail_send_btn" onclick="sendCode('Mail', 'mail_username', 'mail_send_btn')">获取验证码</button>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-lg btn-bg-info w-100 mb-5" onclick="loginByCode('mail_username', 'mail_code', 2)">
                                            <span class="text-white">登录</span>
                                        </button>
                                    </div>
                                </div>
                            }
                            <!-- 找回密码 -->
                            <div id="Pane_Forgot" class="tab-pane fade">
                                <!-- 步骤1：发送验证码 -->
                                <div id="forgot_step1">
                                    <div class="fv-row mb-5">
                                        <label class="form-label text-gray-700">手机号或邮箱</label>
                                        <input class="form-control form-control-lg" type="text" id="forgot_username" placeholder="手机号或邮箱" />
                                    </div>
                                    <div class="fv-row mb-5">
                                        <label class="form-label text-gray-700">验证渠道</label>
                                        <div class="d-flex gap-3">
                                            <button type="button" class="btn btn-sm btn-light-info" id="forgot_ch_sms" onclick="setForgotChannel('Sms')" style="border:2px solid #009ef7;">短信</button>
                                            <button type="button" class="btn btn-sm btn-light" id="forgot_ch_mail" onclick="setForgotChannel('Mail')">邮箱</button>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-lg btn-bg-info w-100 mb-3" id="forgot_send_btn" onclick="forgotSendCode()"><span class="text-white">发送验证码</span></button>
                                        <a href="#" class="btn btn-lg btn-light w-100" onclick="hideForgot()">返回登录</a>
                                    </div>
                                </div>
                                <!-- 步骤2：输入验证码 + 新密码 -->
                                <div id="forgot_step2" style="display:none;">
                                    <div class="fv-row mb-5">
                                        <label class="form-label text-gray-700">验证码</label>
                                        <div class="input-group">
                                            <input class="form-control form-control-lg" type="text" id="forgot_code" placeholder="验证码" />
                                            <button type="button" class="btn btn-outline-secondary" id="forgot_resend_btn" onclick="forgotResend()">重新发送</button>
                                        </div>
                                    </div>
                                    <div class="fv-row mb-5">
                                        <label class="form-label text-gray-700">新密码</label>
                                        <input class="form-control form-control-lg" type="password" id="forgot_new_pwd" placeholder="新密码（≥6位）" />
                                    </div>
                                    <div class="fv-row mb-5">
                                        <label class="form-label text-gray-700">确认密码</label>
                                        <input class="form-control form-control-lg" type="password" id="forgot_confirm_pwd" placeholder="再次输入新密码" />
                                    </div>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-lg btn-bg-info w-100 mb-3" id="forgot_submit_btn" onclick="forgotConfirmReset()"><span class="text-white">确认重置</span></button>
                                        <a href="#" class="btn btn-lg btn-light w-100" onclick="showForgotStep1()">上一步</a>
                                    </div>
                                </div>
                                <div id="forgot_error" class="text-danger mt-3" style="display:none;"></div>
                            </div>
                            <!-- 注册用户 -->
                            <div id="Pane_Register" class="tab-pane fade">
                                <form action="@Url.Action("Register", "User", new { r = set.ReturnUrl })" method="post">
                                    <div class="fv-row mb-5">
                                        <input class="form-control form-control-lg" type="email" name="email" id="reg_email" placeholder="输入您的邮箱地址" autocomplete="off" />
                                    </div>
                                    <div class="fv-row mb-5">
                                        <input class="form-control form-control-lg" type="text" name="username" id="reg_username" placeholder="用户名" autocomplete="off" />
                                    </div>
                                    <div class="fv-row mb-5">
                                        <input class="form-control form-control-lg" type="password" name="password" id="reg_password" placeholder="密码" autocomplete="off" />
                                    </div>
                                    <div class="fv-row mb-5">
                                        <input class="form-control form-control-lg" type="password" name="password2" id="reg_password2" placeholder="确认密码" autocomplete="off" />
                                    </div>

                                    <!--begin::Actions-->
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-lg btn-bg-info w-100 mb-5">
                                            <span class="indicator-label text-white">注册</span>
                                            <span class="indicator-progress">
                                                Please wait...
                                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                            </span>
                                        </button>

                                        <a href="#Pane_Login" class="btn btn-lg btn-bg-light btn-active-info w-100 mb-5 nav-link" onclick="returnLogin()">返回登录</a>
                                    </div>
                                </form>
                            </div>
                        </div>

                        @await Html.PartialAsync("Login_OAuth")
                    </div>

                </div>
                <!--end::Wrapper-->
                <!--end::Content-->

                <div class="d-flex flex-center flex-column flex-wrap p-5 pb-3">
                    <div class="d-flex flex-center fs-10 text-muted">
                        @Html.Raw(config.GetCopyright())
                        <a>&nbsp;&nbsp;VER: @SysConfig.Current.Version</a>
                    </div>
                    <div class="d-flex flex-center fw-bold fs-10">
                        <a href="https://www.beianx.cn/" class="text-muted text-hover-primary">
                            @NewLife.Cube.CubeSetting.Current.Registration
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/assets/js/scripts.bundle.js"></script>

    <script>
        var returnUrl = '@Html.Raw(set.ReturnUrl)';

        // RSA-OAEP 密码加密（浏览器 Web Crypto API）
        async function encryptPasswordRSA(password, pemPublicKey) {
            try {
                var base64 = pemPublicKey.replace(/-----BEGIN [^-]+-----/, '').replace(/-----END [^-]+-----/, '').replace(/\s/g, '');
                var binary = atob(base64);
                var bytes = new Uint8Array(binary.length);
                for (var i = 0; i < binary.length; i++) { bytes[i] = binary.charCodeAt(i); }
                var key = await crypto.subtle.importKey('spki', bytes.buffer, { name: 'RSA-OAEP', hash: 'SHA-256' }, false, ['encrypt']);
                var enc = new TextEncoder();
                var encrypted = await crypto.subtle.encrypt({ name: 'RSA-OAEP' }, key, enc.encode(password));
                return btoa(String.fromCharCode(...new Uint8Array(encrypted)));
            } catch (e) { return null; }
        }

        async function handleLoginSubmit(e) {
            e.preventDefault();
            var pwdInput = document.getElementById('password');
            var challengeIdInput = document.getElementById('challenge_id_input');
            var pwd = pwdInput.value;
            if (!pwd) { document.getElementById('kt_sign_in_form').submit(); return false; }
            try {
                var res = await fetch('/Auth/Challenge');
                var data = await res.json();
                if (data.code === 0 && data.data && data.data.publicKey) {
                    var encrypted = await encryptPasswordRSA(pwd, data.data.publicKey);
                    if (encrypted) {
                        pwdInput.value = encrypted;
                        challengeIdInput.value = data.data.challengeId;
                    }
                }
            } catch (e) { /* Challenge 失败则降级明文提交 */ }
            document.getElementById('kt_sign_in_form').submit();
            return false;
        }

        async function sendCode(channel, usernameId, btnId) {
            var username = document.getElementById(usernameId).value;
            if (!username) { alert(channel === 'Sms' ? '请输入手机号' : '请输入邮箱'); return; }
            var btn = document.getElementById(btnId);
            try {
                var res = await fetch('/Auth/SendCode', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ channel: channel, username: username, action: 'login' })
                });
                var data = await res.json();
                if (data.code !== 0) { alert(data.message || '发送失败'); return; }
                var countdown = 60;
                btn.disabled = true;
                btn.textContent = countdown + 's';
                var timer = setInterval(function() {
                    countdown--;
                    if (countdown <= 0) { clearInterval(timer); btn.disabled = false; btn.textContent = '获取验证码'; }
                    else { btn.textContent = countdown + 's'; }
                }, 1000);
            } catch (e) { alert('发送失败，请稍后重试'); }
        }

        async function loginByCode(usernameId, codeId, loginCategory) {
            var username = document.getElementById(usernameId).value;
            var code = document.getElementById(codeId).value;
            if (!username || !code) { alert('请填写手机号/邮箱和验证码'); return; }
            try {
                var res = await fetch('/Auth/LoginByCode', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ username: username, password: code, loginCategory: loginCategory })
                });
                var data = await res.json();
                if (data.code === 0) { window.location.href = returnUrl || '/Admin'; }
                else { alert(data.message || '登录失败'); }
            } catch (e) { alert('登录失败，请稍后重试'); }
        }

        function returnLogin(){
            var paneLogin = document.querySelector('#Pane_Login');
            paneLogin.setAttribute("class", "tab-pane fade show active");

            var paneRegister = document.querySelector("#Pane_Register");
            paneRegister.setAttribute("class", "tab-pane fade");
        }

        function register() {
            var paneRegister = document.querySelector("#Pane_Register");
            paneRegister.setAttribute("class", "tab-pane fade show active");

            var paneLogin = document.querySelector("#Pane_Login");
            paneLogin.setAttribute("class", "tab-pane fade");
        }

        var _forgotChannel = 'Sms';
        var _forgotCountdown = 0;
        var _forgotTimer = null;

        function setForgotChannel(ch) {
            _forgotChannel = ch;
            document.getElementById('forgot_ch_sms').style.border = ch === 'Sms' ? '2px solid #009ef7' : '';
            document.getElementById('forgot_ch_mail').style.border = ch === 'Mail' ? '2px solid #009ef7' : '';
            document.getElementById('forgot_ch_sms').className = 'btn btn-sm ' + (ch === 'Sms' ? 'btn-light-info' : 'btn-light');
            document.getElementById('forgot_ch_mail').className = 'btn btn-sm ' + (ch === 'Mail' ? 'btn-light-info' : 'btn-light');
        }

        function showForgot() {
            var all = document.querySelectorAll('#kt_sign_in_tab .tab-pane');
            all.forEach(function(p) { p.setAttribute('class', 'tab-pane fade'); });
            document.getElementById('Pane_Forgot').setAttribute('class', 'tab-pane fade show active');
        }

        function hideForgot() {
            var all = document.querySelectorAll('#kt_sign_in_tab .tab-pane');
            all.forEach(function(p) { p.setAttribute('class', 'tab-pane fade'); });
            document.getElementById('Pane_Login').setAttribute('class', 'tab-pane fade show active');
        }

        function showForgotStep1() {
            document.getElementById('forgot_step1').style.display = '';
            document.getElementById('forgot_step2').style.display = 'none';
            setForgotError('');
        }

        function setForgotError(msg) {
            var el = document.getElementById('forgot_error');
            el.style.display = msg ? '' : 'none';
            el.textContent = msg;
        }

        function startForgotCountdown(btn, seconds) {
            if (_forgotTimer) clearInterval(_forgotTimer);
            _forgotCountdown = seconds || 60;
            btn.disabled = true;
            btn.textContent = _forgotCountdown + 's';
            _forgotTimer = setInterval(function() {
                _forgotCountdown--;
                if (_forgotCountdown <= 0) {
                    clearInterval(_forgotTimer); _forgotTimer = null;
                    btn.disabled = false; btn.textContent = '重新发送';
                } else { btn.textContent = _forgotCountdown + 's'; }
            }, 1000);
        }

        async function forgotSendCode() {
            var username = document.getElementById('forgot_username').value.trim();
            if (!username) { setForgotError('请输入手机号或邮箱'); return; }
            var btn = document.getElementById('forgot_send_btn');
            btn.disabled = true;
            setForgotError('');
            try {
                var res = await fetch('/Auth/SendCode', { method: 'POST', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({ channel: _forgotChannel, username: username, action: 'reset' }) });
                var data = await res.json();
                if (data.code !== 0) { setForgotError(data.message || '发送失败'); btn.disabled = false; return; }
                document.getElementById('forgot_step1').style.display = 'none';
                document.getElementById('forgot_step2').style.display = '';
                startForgotCountdown(document.getElementById('forgot_resend_btn'));
            } catch (e) { setForgotError('发送失败，请稍后重试'); btn.disabled = false; }
        }

        async function forgotResend() {
            if (_forgotCountdown > 0) return;
            var username = document.getElementById('forgot_username').value.trim();
            var btn = document.getElementById('forgot_resend_btn');
            btn.disabled = true;
            try {
                await fetch('/Auth/SendCode', { method: 'POST', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({ channel: _forgotChannel, username: username, action: 'reset' }) });
                startForgotCountdown(btn);
            } catch (e) { btn.disabled = false; }
        }

        async function forgotConfirmReset() {
            var username = document.getElementById('forgot_username').value.trim();
            var code = document.getElementById('forgot_code').value.trim();
            var newPwd = document.getElementById('forgot_new_pwd').value;
            var confirmPwd = document.getElementById('forgot_confirm_pwd').value;
            if (!code) { setForgotError('请输入验证码'); return; }
            if (!newPwd) { setForgotError('请输入新密码'); return; }
            if (newPwd !== confirmPwd) { setForgotError('两次密码不一致'); return; }
            var btn = document.getElementById('forgot_submit_btn');
            btn.disabled = true;
            setForgotError('');
            try {
                var res = await fetch('/Auth/ResetPassword', { method: 'POST', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({ username: username, code: code, newPassword: newPwd, confirmPassword: confirmPwd }) });
                var data = await res.json();
                if (data.code === 0) { alert('密码重置成功，请重新登录'); hideForgot(); }
                else { setForgotError(data.message || '重置失败'); btn.disabled = false; }
            } catch (e) { setForgotError('重置失败，请稍后重试'); btn.disabled = false; }
        }
    </script>
</body>
</html>
