@*

*@
@using System.Diagnostics;
@using System.Collections;
@using System.Reflection;
@using System.Runtime.Versioning;
@using NewLife.Common;
@using NewLife.Reflection;

@{
    ViewBag.Title = "程序集列表";

}

<div class="card scroll-x style-3">
    <div class="card-body p-0">

        <table class="table table-bordered table-hover table-striped table-condensed">
            <thead class="bg-white fw-bold fs-6 border border-bottom-3 border-gray-200">
                <tr>
                    <th colspan="6">
                        程序集列表( @AppDomain.CurrentDomain.FriendlyName)
                    </th>
                </tr>
            </thead>
            <tbody class="border border-gray-200">
                <tr>
                    <th>名称</th>
                    <th>标题</th>
                    <th>文件版本</th>
                    <th>内部版本</th>
                    <th style="min-width:150px;">编译时间</th>
                    <th>路径</th>
                </tr>
                @foreach (AssemblyX item in ViewBag.Asms)
                {
                    <tr>
                        <td> @item.Name</td>
                        <td>@item.Title</td>
                        <td>@item.FileVersion</td>
                        <td>@item.Version</td>
                        <td>@item.Compile.ToFullString()</td>
                        <td>
                            @{ var location = String.Empty;
                                try
                                {
                                    location = item.Asm.Location;
                                }
                                catch { }
                            }
                            @location
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>