@using NewLife.Common;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - @SysConfig.Current.DisplayName</title>
    <meta name="description" content="@SysConfig.Current.Company">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/assets/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
     @RenderSection("css", required: false)
</head>
<body id="kt_body" class="bg-white">
    <div class="d-flex flex-column flex-root">
        <div class="d-flex flex-column flex-lg-row flex-column-fluid">
            <div class="d-flex flex-column flex-lg-row-auto w-xl-1000px positon-xl-relative" style="background-image: url(../../assets/media/bg-4.jpg) ">
                <div class="d-flex flex-column position-xl-fixed top-0 bottom-0 w-xl-1000px scroll-y">
                    <div class="d-flex flex-row-fluid flex-column text-center p-10 pt-lg-20">
                        <h1 class="fw-bolder fs-2qx pb-5 pb-md-10 text-white">@SysConfig.Current.DisplayName</h1>
                        <p class="fw-bold fs-3 text-muted">
                            @SysConfig.Current.Company
                            <br />
                        </p>

                    </div>
                    <div class="d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-100px min-h-lg-350px" style="background-image: url(../../assets/media/verification.png) "></div>
                </div>
            </div>
           
            <div class="d-flex flex-column flex-lg-row-fluid py-10">
                @RenderBody()
                <div class="d-flex flex-center flex-wrap fs-6 p-5 pb-0">
                    <div class="d-flex flex-center fw-bold fs-6">
                        <p class="fs-10 text-muted">
                            Version: @SysConfig.Current.Version
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="~/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/assets/js/scripts.bundle.js"></script>
    <script src="~/assets/js/custom/authentication/sign-in/general.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>