@{
	var Obj = Model as Object;
	var path = Context.Request.Path + "";
}
<header class="navbar navbar-expand-md navbar-light d-print-none mb-3">
	<div class="container-xl">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar-menu">
			<div class="d-flex flex-column flex-md-row flex-fill align-items-stretch align-items-md-center">
				<ul class="navbar-nav">
					<li class="nav-item @(path=="/Admin/Core"?"active":"")">
						<a class="nav-link" href="/Admin/Core">
							<span class="nav-link-icon d-md-none d-lg-inline-block">
								<i class="ti ti-star"></i>
							</span>
							<span class="nav-link-title">
								基本设置
							</span>
						</a>
					</li>
					<li class="nav-item @(path=="/Admin/Sys"?"active":"")">
						<a class="nav-link" href="/Admin/Sys">
							<span class="nav-link-icon d-md-none d-lg-inline-block">
								<i class="ti ti-star"></i>
							</span>
							<span class="nav-link-title">
								系统设置
							</span>
						</a>
					</li>
					<li class="nav-item @(path=="/Admin/XCode"?"active":"")">
						<a class="nav-link" href="/Admin/XCode">
							<span class="nav-link-icon d-md-none d-lg-inline-block">
								<i class="ti ti-star"></i>
							</span>
							<span class="nav-link-title">
								数据中间件
							</span>
						</a>
					</li>
					<li class="nav-item @(path=="/Admin/Cube"?"active":"")">
						<a class="nav-link" href="/Admin/Cube">
							<span class="nav-link-icon d-md-none d-lg-inline-block">
								<i class="ti ti-star"></i>
							</span>
							<span class="nav-link-title">
								魔方设置
							</span>
						</a>
					</li>
					<li class="nav-item @(path=="/Admin/OAuthConfig"?"active":"")">
						<a class="nav-link" href="/Admin/OAuthConfig">
							<span class="nav-link-icon d-md-none d-lg-inline-block">
								<i class="ti ti-star"></i>
							</span>
							<span class="nav-link-title">
								OAuth设置
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>