@model NewLife.Cube.Charts.ECharts
@using NewLife;
@using NewLife.Web;
@using NewLife.Cube;
@using XCode;
@{
    var chart = Model;
    var name = chart.Name;
    var chartName = "chart_" + name;
    var optionName = "option_" + name;
    chart["grid"] = new { left = "3%", right = "3%" };

    var style = chart.Style;
    if (chart.Width > 0)
        style += $"width: {chart.Width}px;";
    else if (chart.Width < 0)
        style += $"width: {-chart.Width}%;";

    if (chart.Height > 0)
        style += $"height: {chart.Height}px;";
    else if (chart.Height < 0)
        style += $"height: {-chart.Height}%;";

    var set = NewLife.Cube.Setting.Current;
    var theme = set.EChartsTheme;
    if (theme.EqualIgnoreCase("Default")) theme = "";
}
<div id="@name" style="@style" class="@chart.Class"></div>
<script type="text/javascript">
    var @chartName = echarts.init(document.getElementById('@name'), '@theme');
    var @optionName = @Html.Raw(chart.Build());
    @(chartName).setOption(@optionName);

    @* 为echart图表添加自适应大小能力 *@
    window.addEventListener("resize", ()=>{
        @(chartName).resize();       
    });
</script>