@using NewLife;
@using XCode;
@using XCode.Configuration;
@{
    var entity = Model as IEntity;
    var fields = ViewBag.Fields as FieldCollection;
    var groupFields = fields.GroupBy(e => e.Category + "").ToList();
}

@if (groupFields.Count > 1)
{
    <ul class="nav nav-tabs" role="tablist">
        @for (int i = 0; i < groupFields.Count; i++)
        {
            var key = groupFields[i].Key.IsNullOrEmpty() ? "默认" : groupFields[i].Key;
            <li class="@(i==0?"active":"")"><a href="@("#item"+i)" data-toggle="tab">@key</a></li>
        }
    </ul>
    <div class="tab-content">
        @for (int i = 0; i < groupFields.Count; i++)
        {
            <div class="tab-pane fade in @(i==0?"active":"")" id="@("item"+i)">
                <div class="row">
                    @foreach (var item in groupFields[i])
                    {
                        if (!item.PrimaryKey && (item.DataVisible == null || item.DataVisible(entity, item)))
                        {
                            @await Html.PartialAsync("_Form_Group", new ValueTuple<IEntity, DataField>(entity, item))
                        }
                    }
                </div>
            </div>
        }
    </div>
}
else
{
    foreach (var item in fields)
    {
        if (!item.PrimaryKey && (item.DataVisible == null || item.DataVisible(entity, item)))
        {
            @await Html.PartialAsync("_Form_Group", new ValueTuple<IEntity, DataField>(entity, item))
        }
    }
}

@await Html.PartialAsync("_Form_Footer", entity)

@await Html.PartialAsync("_Form_Action", entity)
