@using NewLife;
@using Microsoft.AspNetCore.Routing
@using XCode;
@using XCode.Configuration;
@{
    var pair = (ValueTuple<IEntity, DataField>)Model;
    var entity = pair.Item1;
    var item = pair.Item2;
    var factory = entity.GetType().AsFactory();

    var value = entity[item.Name];
    var provider = ManageProvider.Provider;
    var listField = item as ListField;

    // 第二名称，去掉后面的数字，便于模式匹配
    var digits = new[] { '0', '1', '2', '3', '4', '5', '6', '7', '8', '9' };
    var name2 = item.Name.TrimEnd(digits);

}
@if (item.PrimaryKey)
{
    <td class="text-center">@value</td>
}
else
{
    switch (Type.GetTypeCode(item.Type))
    {
        case TypeCode.Boolean:
            var bval = (Boolean)value;
            <td class="text-center">
                @if (item.Name.EqualIgnoreCase("Enable") && factory.Unique != null)
                {
                    var key = entity[factory.Unique.Name];
                    <a href="@Url.Action("SetEnable",null,new { id=key, enable=!bval })" data-action="action">
                        @await Html.PartialAsync("_Icon_Boolean", bval)
                    </a>
                }
                else
                {
                    @await Html.PartialAsync("_Icon_Boolean", bval)
                }
            </td>
            break;
        case TypeCode.DateTime:
            var dt = (DateTime)value;
            if (listField.GetValue != null)
            {
                <td class="text-center">@listField.GetValue(entity)</td>
            }
            else if (item.ItemType.EqualIgnoreCase("date") || name2.EndsWith("Date"))
            {
                <td class="text-center">@dt.ToString("yyyy-MM-dd", "")</td>
            }
            else
            {
                <td class="text-center">@dt.ToFullString("")</td>
            }
            break;
        case TypeCode.Decimal:
            if (listField.GetValue != null)
            {
                <td class="text-center">@listField.GetValue(entity)</td>
            }
            else if (item.ItemType.EqualIgnoreCase("Money"))
            {
                var dc = (Decimal)value;
                <td class="text-right">@dc.ToString("c")</td>
            }
            else
            {
                var dc = (Decimal)value;
                <td class="text-right">@dc.ToString("n2")</td>
            }
            break;
        case TypeCode.Single:
        case TypeCode.Double:
            if (listField.GetValue != null)
            {
                <td class="text-right">@listField.GetValue(entity)</td>
            }
            else if (name2.EndsWith("Rate") || name2.EndsWith("Ratio"))
            {
                var dd = (Double)value;
                var des = item.Description + "";
                if (des.Contains("十分之一")) { dd /= 10; }
                if (des.Contains("百分之一")) { dd /= 100; }
                if (des.Contains("千分之一")) { dd /= 1000; }
                if (des.Contains("万分之一")) { dd /= 10000; }

                <td class="text-center">@dd.ToString("p2")</td>
            }
            else if (item.ItemType.EqualIgnoreCase("percent", "Percentage"))
            {
                var dd = (Double)value;
                <td class="text-center">@dd.ToString("p2")</td>
            }
            else
            {
                var dd = (Double)value;
                <td class="text-right">@dd.ToString()</td>
            }
            break;
        case TypeCode.Byte:
        case TypeCode.Int16:
        case TypeCode.Int32:
        case TypeCode.Int64:
        case TypeCode.UInt16:
        case TypeCode.UInt32:
        case TypeCode.UInt64:
            if (listField.GetValue != null)
            {
                <td class="text-right">@listField.GetValue(entity)</td>
            }
            //特殊处理枚举
            else if (item.Type.IsEnum)
            {
                var val = "";
                try
                {
                    val = EnumHelper.GetDescription((Enum)value) ?? value + "";
                }
                catch { }
                <td class="text-center">@val</td>
            }
            else if (item.ItemType.EqualIgnoreCase("TimeSpan"))
            {
                <td class="text-right">@(TimeSpan.FromSeconds(value.ToInt()))</td>
            }
            else if (item.Name.EqualIgnoreCase("CreateUserID", "UpdateUserID"))
            {
                //var provider = ViewData["Provider"] as IManageProvider;
                if (provider != null)
                {
                    <td class="text-center">@provider?.FindByID(value)</td>
                }
                else
                {
                    <td class="text-center">@value</td>
                }
            }
            else if (name2.EndsWith("Rate") || name2.EndsWith("Ratio"))
            {
                var dd = Convert.ToDouble(value);
                var des = item.Description + "";
                if (des.Contains("十分之一")) { dd /= 10; }
                if (des.Contains("百分之一")) { dd /= 100; }
                if (des.Contains("千分之一")) { dd /= 1000; }
                if (des.Contains("万分之一")) { dd /= 10000; }

                <td class="text-center">@dd.ToString("p2")</td>
            }
            else if (item.ItemType.EqualIgnoreCase("GMK"))
            {
                <td class="text-right">@(value.ToLong().ToGMK())</td>
            }
            else
            {
                <td class="text-right">@Convert.ToInt64(value).ToString("n0")</td>
            }
            break;
        case TypeCode.String:
        default:
            if (listField.GetValue != null)
            {
                <td>@listField.GetValue(entity)</td>
            }
            else
            {
                var val = value;            
                if (!item.MapField.IsNullOrEmpty() && val + "" != "")
                {
                    if (item.MapProvider != null)
                    {
                        var name = item.MapProvider.EntityType.Name;
                        var key = item.MapProvider.Key;
                        val = entity[item.MapField];
                        //从菜单查找相关
                        var menu = Menu.FindForName(@name);
                        if (menu!=null)
                        {
                            //获取控制器名称,拼接全路径
                            var fullPath = $"{this.Context.Request.Scheme}://{this.Context.Request.Host}/{menu.ParentNodeName}/{@name}?{@key}={@val}";
                            <td class="text-center"><a href="@fullPath">@value</a></td>
                        }
                        else
                        {
                            <td class="text-center"><a href="@name?@key=@val">@value</a></td>
                        }
                    }
                    else
                    {
                        <td class="text-center">@value</td>
                    }
                }
                else if (item.Name.EqualIgnoreCase("CreateIP", "UpdateIP"))
                {
                    <td class="text-center" title="@((value+"").IPToAddress())">@value</td>
                }
                else if (item.IsBigText())
                {
                    //防止内容过长
                    <td style="max-width:600px;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;" title="@value">@value</td>
                }
                else
                {
                    if (!item.ItemType.IsNullOrEmpty() && item.ItemType.EqualIgnoreCase("file-WebUploader"))
                    {

                        <td class="text-center">@Html.Partial("_View_ImgView",value)</td>

                    }
                    else
                    {
                        <td>@value</td>
                    }
                   
                }
            }
            break;
    }
}