@using NewLife;
@using NewLife.Web;
@using NewLife.Cube;
@using XCode;
@using XCode.Code
@using XCode.DataAccessLayer
@{
    var fact = ViewBag.Factory as IEntityFactory;
    var page = ViewBag.Page as Pager;
    var fi = fact.MasterTime;
    var fields = ViewBag.SearchFields as FieldCollection;

    // var builder = new SearchBuilder(fact.Table.DataTable);
    // var columns = builder.GetColumns() as List<IDataColumn>;
    // if (columns.Any(e => e.Name.EqualIgnoreCase("DistrictId")))
    //     columns.RemoveAll(e => e.Name.EqualIgnoreCase("ProvinceId", "CityId"));
    // if (columns.Any(e => e.Name.EqualIgnoreCase("CityId")))
    //     columns.RemoveAll(e => e.Name.EqualIgnoreCase("ProvinceId"));

    var dic = new Dictionary<Int32, String>();
    dic[1] = "是";
    dic[0] = "否";
}
@foreach (SearchField field in fields)
{
    var name = field.Name.ToLower();
    if (field.Name.EqualIgnoreCase("Enable") && field.Type == typeof(Boolean))
    {
        @await Html.PartialAsync("_Enable")
    }
    else if (field.Type == typeof(Boolean))
    {
        <div class="form-group">
            <label for="@name" class="control-label">@field.DisplayName：</label>
            @Html.ForDropDownList(name, dic, page[name], "全部", true)
        </div>
    }
    else if (field.Name.EqualIgnoreCase("DistrictId"))
    {
        @await Html.PartialAsync("_Area3", "")
    }
    else if (field.Name.EqualIgnoreCase("CityId"))
    {
        @await Html.PartialAsync("_Area2", "")
    }
    else if (field.Name.EqualIgnoreCase("ProvinceId"))
    {
        @await Html.PartialAsync("_Area1", "")
    }
    else if (field.Type.IsInt())
    {
        // 枚举字段
        if (field.Type.IsEnum)
        {
            if (field.Multiple)
            {
                <label for="@name" class="control-label">@field.DisplayName：</label>
                @await Html.PartialAsync("_Form_ListBox", new ListBoxModel(name, EnumHelper.GetDescriptions(field.Type), page[name]))
            }
            else
            {
                <div class="form-group">
                    <label for="@name" class="control-label">@field.DisplayName：</label>
                    @Html.ForDropDownList(name, EnumHelper.GetDescriptions(field.Type), page[name], "全部", true)
                </div>
            }
        }
    }
}

@if (fi != null)
{
    @await Html.PartialAsync("_DateRange")
}
